/.env
/backend/.env.local
/backend/.env.*.local
/backend/vendor/
/backend/var/
/backend/config/jwt/*.pem
/frontend/node_modules/
/frontend/.next/
/frontend/out/
.idea/
.vscode/
*.log
.DS_Store

/backend/.phpunit.result.cache
/backend/.phpunit.cache/
